In [39]:
import pandas as pd
#import dataset
dataset=pd.read_csv("Diabities.csv")

In [40]:
dataset.head()

,Pregnancies,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [41]:
dataset.info() # concise information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   blood pressure            768 non-null    int64
 3   skin thickness            768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [42]:
dataset.isnull().sum()

Pregnancies                 0
Glucose                     0
blood pressure              0
skin thickness              0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [43]:
x=dataset.iloc[:,1:-1]
y=dataset.iloc[:,-1]

In [44]:
x

,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,148,72,35,0,33.6,0.627,50
1,85,66,29,0,26.6,0.351,31
2,183,64,0,0,23.3,0.672,32
3,89,66,23,94,28.1,0.167,21
4,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63
764,122,70,27,0,36.8,0.340,27
765,121,72,23,112,26.2,0.245,30
766,126,60,0,0,30.1,0.349,47
767,93,70,31,0,30.4,0.315,23

In [45]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Splitting data

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
 x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [69]:
x_train

,Glucose,blood pressure,skin thickness,Insulin,BMI,DiabetesPedigreeFunction,Age
464,115,98,0,0,24.0,1.022,34
223,142,60,33,190,28.8,0.687,61
393,116,72,12,87,22.1,0.463,37
766,126,60,0,0,30.1,0.349,47
570,78,70,0,0,32.5,0.270,39
...,...,...,...,...,...,...,...
71,139,64,35,140,28.6,0.411,26
106,96,122,0,0,22.4,0.207,27
270,101,86,37,0,45.6,1.136,38
435,141,0,0,0,42.4,0.205,29
102,125,96,0,0,22.5,0.262,21

# Applying classifiers and evaluation

# Random Forest

In [70]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rfc=RandomForestClassifier()
rfc.fit(x_train,y_train)
y_pred=rfc.predict(x_test)
accuracy_score(y_test,y_pred)

0.7559055118110236

# Logistic Regression

In [71]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
accuracy_score(y_test,y_pred)

0.7440944881889764

# K Neighbor classifier

In [68]:
from sklearn.neighbors import KNeighborsClassifier
knr=KNeighborsClassifier()
knr.fit(x_train,y_train)
y_pred=knr.predict(x_test)
accuracy_score(y_test,y_pred)

0.7125984251968503